//import
@import './global';
@import './varibale';

.myName {
    color: red;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        color: green;
    }
}

.para-1 {
    background: $primary;
}


// nesting
.div___one {
    h2 {
        color: magenta;
    }


    .div___two {

        h2 {
            color: $secondary;

            &:nth-child(3) {
                background: $info;


                &::after {
                    content: ' red after';
                    color: red;

                    // &:hover {
                    //     background: salmon;
                    // }
                }
            }

            &:hover {
                background: $secondary;
                color: black;
            }


        }

        .div___three {
            h3 {
                color: $info;

                &:hover {

                    color: black;
                    margin-bottom: 2px $info solid;
                }
            }
        }
    }
}



//mixin
@mixin para ($color) {
    font-size: 20px;
    color: $color;
    font-weight: bold;

    &:hover {
        background: #000;
    }
}

.para--1 {
    @include para($info);
}

.heaedlast {
    @include para(purple);
}

.btn {
    background: red;
    padding: 10px;
    border-radius: 8px;

    transition: all .3s;

    &:active {
        animation: alternate-reverse;
        transform: scale(0.9)
    }

    &:focus {
        outline: 4px solid green;
        outline-offset: 2px
    }
}

.login {
    @extend .btn;

}