* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  border: none;
}

.redok {
  height: 250px;
  background: lightblue;
  overflow: auto;
}

.redok::-webkit-scrollbar {
  width: 3px;
}

.redok::-webkit-scrollbar-track {
  background: orange;
}

.redok::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 1px solid #245cd6;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: orange;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 1px solid #245cd6;
}

.myName {
  color: red;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.myName:hover {
  color: green;
}

.para-1 {
  background: red;
}

.div___one h2 {
  color: magenta;
}

.div___one .div___two h2 {
  color: blue;
}

.div___one .div___two h2:nth-child(3) {
  background: yellow;
}

.div___one .div___two h2:nth-child(3)::after {
  content: ' red after';
  color: red;
}

.div___one .div___two h2:hover {
  background: blue;
  color: black;
}

.div___one .div___two .div___three h3 {
  color: yellow;
}

.div___one .div___two .div___three h3:hover {
  color: black;
  margin-bottom: 2px yellow solid;
}

.para--1 {
  color: yellow;
  font-weight: bold;
  font-size: 30px;
}

.para--1:hover {
  background: #000;
}

.heaedlast {
  color: purple;
  font-weight: bold;
  font-size: 50px;
}

.heaedlast:hover {
  background: #000;
}

.btn, .login {
  background: red;
  padding: 10px;
  border-radius: 8px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn:active, .login:active {
  animation: alternate-reverse;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.btn:focus, .login:focus {
  outline: 4px solid green;
  outline-offset: 2px;
  -webkit-transition: all .09s;
  transition: all .09s;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

[class*='col-'] {
  float: left;
}

.orange-text {
  color: orange;
}

.purple-text {
  color: purple;
}

.hotpink-text {
  color: hotpink;
}

.row::after {
  clear: both;
  content: '';
  display: table;
}
