* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  border: none;
}

.redok {
  height: 250px;
  background: lightblue;
  overflow: auto;
}

.redok::-webkit-scrollbar {
  width: 3px;
}

.redok::-webkit-scrollbar-track {
  background: orange;
}

.redok::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 1px solid #245cd6;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: orange;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 1px solid #245cd6;
}

.myName {
  color: red;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.myName:hover {
  color: green;
}

.para-1 {
  background: red;
}

.div___one h2 {
  color: magenta;
}

.div___one .div___two h2 {
  color: blue;
}

.div___one .div___two h2:nth-child(3) {
  background: yellow;
}

.div___one .div___two h2:nth-child(3)::after {
  content: ' red after';
  color: red;
}

.div___one .div___two h2:hover {
  background: blue;
  color: black;
}

.div___one .div___two .div___three h3 {
  color: yellow;
}

.div___one .div___two .div___three h3:hover {
  color: black;
  margin-bottom: 2px yellow solid;
}

.para--1 {
  color: yellow;
  font-weight: bold;
  font-size: 30px;
}

.para--1:hover {
  background: #000;
}

.heaedlast {
  color: purple;
  font-weight: bold;
  font-size: 50px;
}

.heaedlast:hover {
  background: #000;
}

.btn, .login {
  background: red;
  padding: 10px;
  border-radius: 8px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn:active, .login:active {
  animation: alternate-reverse;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.btn:focus, .login:focus {
  outline: 4px solid green;
  outline-offset: 2px;
  -webkit-transition: all .09s;
  transition: all .09s;
}

[class*='col-'] {
  float: left;
}

.col-4 {
  width: 33.33%;
}
