@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.no1{
	width: 400px;
	
	
}


.no1 h1{
	
	
}
.no1 p {
	font-weight:bold;
	
}
.no2{
	width:300px;
	color:red;
	font-weight:normal;
}


.no3 {
	font-style:italic;
	color:red;
	
}
.pno1{
	letter-spacing:10px;
	
}
.pno2{
	word-spacing:20px;
	
}

.pno3{
		line-height:35px;
	
}
.pno4{
	width:350px;
	text-align:right;
	
}
.pno5{
	width:350px;
	text-align:center;
}
.pno6{
	width:350px;
	font-family: 'Montserrat', sans-serif;
	font-weight:900;
}
.pno7{

	text-decoration: overline;}
.pno8{
text-decoration: line-through;

}