body {
  background-color: rgb(174, 99, 250);
}
h1,
h2,
h3 {
  text-align: center;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 400px;
}

img {
  width: 300px;
}
